#navbar{
    display: flex;
    background-color: antiquewhite;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 5px;
}
#search_input{
    width: 80%;
    height: 30px;
    border-radius: 20px;
}
#sidebar{
    width: 200px;
    background-color: antiquewhite;
    height: 90%;
    margin-top: -30px; 
    padding-top: 50px;
    overflow-y: scroll;

}
#sidebar>h3{
    background-color: aqua;
    cursor: pointer;
}